h3, h2, h1, p, a {
    font-family: 'Open-Sans', sans-serif;
}
#statistics {
	text-align:center;
}
.game {
	border-width: 1px;
	border-style: solid;
	text-align:center;
}
#eff {
	align-items: center;
	font-size:20px;
}
.record, .head, .team, #winstreak, #losestreak {
	text-align:center;
}
#winstreak {
	color:rgb(0, 102, 0);
}
#losestreak {
	color:rgb(183, 20, 20);
}
.team {
	font-size:55px;
}
.record {
	font-size:45px;
}
.head {
	font-size:36px;
}
