{% load staticfiles %}
{% load nba_teams %}

<!DOCTYPE html>
<html>
     <head>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link rel="stylesheet" href="{% static 'css/team.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <title> {{ team|teamName }} </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'js/test.js' %}"> </script>
    </head>
<body>
<h1 class = "team"> <a href = "/{{ team }}map/">  {{ team|teamName }} </a> </h1>
<h2 class = "record"> {{ wins }} - {{ losses }} </h2>
{% if streak|streakBoo %}
<h2 id = "winstreak"> {{ streak }} </h2>
{% else %}
<h2 id = "losestreak"> {{ streak }} </h2>
{% endif %}
<div class = "continer">
<div class = "col-sm-4">
<h3 class = "head" > Past Games </h3> 
{% for game in games %}
<div class = "game">
    <h2> <a href = "/score/{{ game.id }}/"> {{ game.home_Team }} {{ game.away_Team}} </a></h2>
    <p> {{ game.date }} </p>
    <p> {{ game.home_Score }}-{{ game.away_Score }} </p>
    </div>
{% endfor %}
</div>
<div class = "col-sm-8" >
<h1 id = "statistics"> Statistics </h1>
<h3 id = "eff"> Points Per Game: (PPG) {{ offEff }} </h2>
<h3 id = "eff"> Opponent's Points Per Game: (OPPG) {{ defEff }} </h2>
<button type="button" id = "calculate" class="btn btn-success" >Calculate Stats</button>
<p id="demo">Kevin Was here</p>
</div>
</div>

<script>
</script>

</body>

</html>

